<html ng-app="myApp">
    <head>
        <title>order by</title>
        <link type="text/css" rel="stylesheet" href="style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    
    <body ng-controller='myCtrl'>
        order By : <select ng-model="sortColumn">
                        <option value="name">Name by Asc</option>
                        <option value="sex">Sex by Asc</option>
                        <option value="age">Age by Asc</option>
                   </select><br/><br/>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Age</th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="emp in emp | orderBy:sortColumn">
                    <td>{{emp.name}}</td>
                    <td>{{emp.sex}}</td>
                    <td>{{emp.age}}</td>
                </tr>
            </tbody>
        </table>
    
        <script src="app.js"></script>
    </body>
</html>