<html ng-app="app">
    <head>
        <title>Bi Directional Sort</title>
        <link type="text/css" href="style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    
    <body ng-controller="myCtrl">
        <table>
            <thead>
                <tr>
                    <th ng-click="sortByName('name')">Name<div class="arrow-up"></div></th>
                    <th ng-click="sortByName('gender')">Gender</th>
                    <th ng-click="sortByName('disignation')">Disignation</th>
                    <th ng-click="sortByName('salary')">Salary</th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="employees in employees | orderBy: sortValue">
                    <td>{{employees.name}}</td>
                    <td>{{employees.gender}}</td>
                    <td>{{employees.disignation}}</td>
                    <td>{{employees.salary}}</td>
                </tr>
            </tbody>
        </table>
        
        
        <script src="app/app.js"></script>
        <script src="app/appCtrl.js"></script>
    </body>
</html>